{#<html>#}
{#    <body bgcolor="#adff2f">#}
{##}
{#    <form action="{% url 'update_student' %}" method="post">#}
{#        {% csrf_token %}#}
{#        <h1>Update Employee</h1>#}
{##}
{#        <input type="hidden" value="{{ data.Name }}" name="u3">#}
{#        <br><br>#}
{#        subjet = <input type="text" value="{{ data.Subject }}" name="u1">#}
{#        <br><br>#}
{#        Marks = <input type="number" value="{{ data.Marks }}" name="u2">#}
{#        <br><br>#}
{#        <button type="submit">Update</button>#}
{#    </form>#}
{#    </body>#}
{#</html>#}
{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block body %}
{% for x in data %}
        <!-- Modal -->
        <form action="{% url 'update_student' %}" method="post">
            {% csrf_token %}
            <div class="modal fade" id="Modal{{ x.id }}" tabindex="-1" role="dialog"
                 aria-labelledby="ModalLabel{{ x.id }}"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel{{ x.id }}">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="text" class="form-control" value="{{ x.Name }}">
                            <input type="text" class="form-control" value="{{ x.Subject }}">
                            <input type="text" class="form-control" value="{{ x.Marks }}">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endfor %}
{% endblock %}

